# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
aspnet-core/src/Elevations.Web.Host/App_Data/Logs/
aspnet-core/src/Elevations.Web.Mvc/App_Data/Logs/
aspnet-core/src/Elevations.Migrator/Logs/Logs.txt
aspnet-core/src/Elevations.Migrator/appsettings.json
aspnet-core/src/Elevations.Migrator/appsettings.json
aspnet-core/src/Elevations.Migrator/appsettings.json
aspnet-core/src/Elevations.Migrator/appsettings.json
aspnet-core/src/Elevations.Web.Host/appsettings.json
*.json
*.json
*.json
aspnet-core/src/Elevations.Migrator/appsettings.json
